.button{
    width: 153px;
    height: 32px;
    border-radius: 5px;
    background: #C70101;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    &_main{
        margin-top: 67px;
        width: 303px;
        height: 54px;
        font-size: 16px;
    }
    &_submit{
        width: 100%;
        height: 55px;
        font-size: 16px;
    }
}   
    