.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo{
        width: 250px;
        img {
            width: 100%
        }
            
    }
    &__official {
        font-weight: 500px;
        font-size: 12px;
        color: #FFFFFF;
        span {
            display: block;
            font-weight: 500px;
            font-size: 18px;
            color: #FFFFFF;
        }
            
    }
    .header__phone{
        display: block;
        font-weight: 700;
        font-size: 18px;
        color: #FFFFFF;
    }

    .header__contacts{
        display: flex;
        flex-direction: column;
        align-items:flex-end;
    }   
}   
   
        
    

