.promo {
    min-height: 650px;
    padding: 21px 0 93px 0;
    background: url(../image/fon/bg1.png) center (center/cover) no-repeat;
}
.promo__wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 90px;
    padding-right: 160px;
}
.promo__header{
    font-weight: 700;
    font-size: 42px;
    color: #FFFFFF;
    line-height: 42px;
}
.promo__subheader{
    margin-top: 17px;
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
    text-transform: uppercase;
    line-height: 24px;
}
.promo__icons{
    margin-top: 65px;
    width: 424px;
    display: flex;
    justify-content: space-between;
}
.promo__icon{
    width: 108px;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}
    .promo__icon img{
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
    }
.promo__link{
    margin-top: 18px;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
}
    .promo__link a{
        color: #FFFFFF;
        text-transform: uppercase;
        text-decoration: underline;
    }