.title{
        font-weight: 700;
        font-size: 30px;
        text-align: center;
        text-transform: uppercase;
        &_left{
            color: #FFFFFF;
            font-size: 36px;
            text-align: left;
            
        }
    }